

* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  }
  
  .pagecontact {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;

}
  
  .touch1 {
    
    padding: 10px;
    flex: 50%;
  }
  
  .touch2 {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .pagecontact {
      flex-direction: column;
      overflow: hidden;
    }
  }










.full {
    text-align: center;
    font-size: large;
    font-family: sans-serif;
}.full2 {
    box-sizing: border-box;
    font-size: large;
    width: 500px;
    height: 55px;
    
    background: #FFFFFF;
    
    
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    
}
.box {
    margin-top: auto;
    font-size: x-large;
    box-sizing: border-box;

width: 203px;
height: 55px;

background: burlywood;


border: 1px solid #FFFFFF;
border-radius: 12px;

}
.contact2 {
    font-size: large;
}
.msg{
    width: 20px;
    height: 20px;
}