*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  
    float: right;
    
    width: 317px;
  height: 318px;
  left: 817px;
  top: 132px;
    margin-right: auto;
  }
   @media screen and (max-width:769px) {
    .image{
    width: 455px;
     height: 459;}
   }
  
  
  
  
  .word {
  
    text-align: center;
    }
  
    
   

  .Name2 {
    font-family: cursive;
    color: black;
    font-size: xx-large;
  
  }
  .Name4 {
    color:navy ;
    font-size: xx-large;
    
  }
.Name3 {
  font-weight: 1000;
}