.image {
  
    float: right;
    
    width: 317px;
  height: 318px;
  left: 817px;
  top: 132px;
    margin-right: auto;
  }
    
  
  
  
  
  .word {
  
    text-align: center;
    
   
  }
  .Name2 {
    font-family: cursive;
    color: black;
    font-size: xx-large;
  
  }
  .Name4 {
    color:navy ;
    font-size: xx-large;
  
  }
  
  