.project1 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
    
   
}
.project1 > div {
    background-color: darkblue;
    width: 1400px;
    margin: 100px;
    text-align: center;
    line-height: 500px;
    font-size: 40px;
    
}
.lap {
    flex-wrap: wrap;
    text-align: left;
    font-size: x-large;
}
.whitish{
    color: blue;
    font-weight: bold;
}
.project2 {
    
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
   
}
.project2 > div {
    background-color: blue;
    width: 1400px;
    margin: 100px;
    text-align: center;
    line-height: 500px;
    font-size: 40px;
}
.project3 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
   
}
.project3 > div {
    
    width: 1400px;
    margin: 100px;
    text-align: center;
    line-height: 500px;
    font-size: 40px;
}