*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Service {
    flex-wrap: wrap;
    text-align: left;
    font-size: large;
    

}
.Render {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  
  .Render > div {
    background-color: #f1f1f1;
    width: 250px;
    margin: 60px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    
  }