*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progressBar {
    flex-wrap: wrap;
    text-align: left;
  font-size: large;
  }
  
.bar {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .bar > div {
    
    width: 450px;
    margin: 80px;
    text-align: left;
    overflow: hidden;
    }
    

    


  .stripe {
    width: 350px;
    
  }

  .skillsword {
    text-align: left;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
  }
  .Cimage {
    width: 30px;
    height: 30px;
    
  }